# Copy this to .env and fill in your values
DATABASE_URL=postgresql://user:password@host:5432/mathbank
PORT=3000
FRONTEND_URL=https://your-netlify-site.netlify.app
WOLFRAM_APP_ID=E5GJQ577XW
GROQ_API_KEY_1=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
GROQ_API_KEY_2=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
